.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.label {
    border: solid 2px #000000;
    padding: 3rem;
    border-radius: 20px;
}

.container input {
    width: 30rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.container .am {
    width: 50rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.container .nama {
    width: 300px;
    height: 50px;
}
.container .asal {
    width: 700px;
    height: 50px;
}

.container .tanggal {
    width: 345px;
    height: 50px;
}
.nta {
    margin-left: 2rem;
    margin-right: 2rem;
}

.judul {
    justify-content: center;
    align-items: center;
    display: flex;
}

.buttonS {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem;
}